html {
  color: #D3C6AA;
  background: #2E383C;
}

body {
  margin: 5% auto;
  max-width: 100ch;
  line-height: 1.5;
}


a {
  color: #A7C080;
  text-decoration: none;
}

i {
  color: #A7C080;
  font-size:30px;
}
code:not(pre code) {
  background: #24292E;
}

.post-link {
  list-style-type: none;
}

.project-link {
  list-style-type: none; 
}

.nav {
  padding-top: 5px;
}

.float-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
