---
const year = new Date().getFullYear();
---
<footer>
	<hr>
	<div class="footer-content">
    <center>&copy; {year} Ethan Jantz</center>
    <br>
    <script async defer src="https://www.recurse-scout.com/loader.js?t=db5444d8ba2813245461e7d48bfa23c5"></script>	</div>
</footer>
