---
const year = new Date().getFullYear();
---
<footer>
	<hr>
	<div class="footer-content">
    <center>&copy; {year} Ethan Jantz</center>
    <br>
    Want to be a better programmer? Check out the 
    <a href="https://recurse.com">Recurse Center!</a>
	</div>
</footer>
