---
---
  <a class='nav' href="/">Home</a>
  <a class='nav' href="/blog/">Blog</a>
  <a class='nav' href="mailto:ethan@jantz.website">Email</a>
  <a class='nav' href="https://github.com/ethanjantz">GitHub</a>

