---
---
<h2>Blog:</h2>
  <li class="post-link"><a href="/posts/lets-golf/">Let's Golf!</a></li>
  <li class="post-link"><a href="/posts/practice/">Practice</a></li>
  <li class="post-link"><a href="/posts/making-minesweeper/">Making Minesweeper</a></li>
