---
---
<h2>Projects:</h2>
<li><a href="https://deeddish.com">Deed Dish</a>
  is a tool for exploring property ownership in Chicago. <a href="https://github.com/ethanjantz/deed-dish"><i class="fa-brands fa-github" style="font-size:18px;"></i></a></li>


