---
---
<h2>Projects:</h2>
<li class="project-link"><a href="https://deeddish.com">Deed Dish</a>
	is a tool for exploring property ownership in Chicago. <a href="/projects/deed-dish"><i class="fa-solid fa-file" style="font-size:18px;"></i></a> <a href="https://github.com/ethanjantz/deed-dish"><i class="fa-brands fa-github" style="font-size:18px;"></i></a></li>
<li class="project-link"><a href="/bwop">bwop</a> 
  is a small web game inspired by <a href="https://en.wikipedia.org/wiki/QWOP">QWOP</a> where you try and avoid falling over.<a href="https://github.com/ethanjantz/bwop"><i class="fa-brands fa-github" style="font-size:18px;"></i></a></li>
