---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Navigation from '../../components/Navigation.astro';
import { CollectionEntry, getCollection, render } from 'astro:content';

interface Props {
  post: CollectionEntry<'blog'>;
}

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post: CollectionEntry<'blog'>) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
const publish_date = new Date(post.data.pubDate).toLocaleDateString('en-US', {
  timeZone: 'UTC',
  weekday: 'short',
  year: 'numeric',
  month: 'short',
  day: 'numeric'
});
---
<BaseLayout pageTitle={post.data.title}>
  <div class="float-container">
    <div>
      <h1 style="display:inline;">{post.data.title}</h1>
    </div>
    <div class="nav">
      <Navigation pageTitle={post.data.title}/>
    </div>
  </div>
  {publish_date}
  <Content />
</BaseLayout>
