---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
const { pageTitle, frontmatter } = Astro.props;
---
<html lang="en">
  <head>
		<meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <title>{pageTitle || frontmatter.pageTitle}</title>
  </head>

		<body>
    <div class="float-container">
      <div>
        <h1 style="display:inline;">{pageTitle || frontmatter.pageTitle || frontmatter.title}</h1>
      </div>
      <div class="nav">
        <Navigation pageTitle={pageTitle}/>
      </div>
    </div> 
    <hr>

      <slot />

      <Footer />

    </body>

</html>

